body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(img/фон4.jpg);
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
}

.container {
    height: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0%;
    padding-bottom: 4%;
    background: rgba(56, 59, 71, 0.3);
}
.logo {
    float: left;
  }
  nav {
    float: right;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav li {
    padding-left: 10px;
    display: inline-block; /*один из способов разместить элементы в строку*/
  }
  h3 {
    color: rgb(232, 231, 240);
  }